{% extends 'home/base.html' %}
{% block content %}
{% load static %}



<body>
<br><br><br><br><br>

<div class="row mx-5">
    <div class="col-md-9">
        <div class="text-center"><h1 style="color:black; font-family: Times New Roman; ">Our Student Members</h1></div>
    </div>
    <div class="col-md-3">
        <div class="text-center">

        <form method="get" action="/search_student">

                  <div class="input-group">
                    <input type="text" id="query" name="query" class="form-control" placeholder="Search for Student..." >
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Go!</button>
                    </span>
                  </div>

        </form>
        </div>
    </div>
</div>
<br>

<div class="row ml-5">
    <div class="col-md-5">

        <h2 style="color:black; font-family: Arial;" > Search Result :- </h2>

        {% if students|length < 1 %}

              <p> No Search Results  </p>

              Your search - <b> '{{query}}' </b> did not match any documents. <br>
              <br>
              <h4>Suggestions :- </h4>

              <ul>
                <li> Make sure that all words are spelled correctly. </li>
                <li> Try different keywords. </li>
                <li> Try more general keywords. </li>
                <li> Try fewer keywords. </li>
              </ul>

        {% endif %}

    </div>
</div>



<div class="row mx-5 my-3">
    {% for i in students %}

    <div class="col-sm-4">

        <div class="card mb-3" style="max-width: 540px;">

          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="{{ i.Profile_Photo.url }}" class="card-img pt-3" alt="" height="150" width="150">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <p><h5 style="color:black; font-family: Verdana;" class="card-title">{{ i.user.first_name}} {{ i.user.last_name}}</h5></p>
                <p><h6 style="color:black; font-family: Courier New ;" class="card-title">{{ i.Branch }}</h6></p>
                  <p class="card-text"><h6>{{ i.Bio}}</h6></p>
                  <p>
                      <div class="text-center">
                              <a href="/view_profile/{{ i.user_id }}" class="btn btn-primary ">View Profile</a>
                      </div>
                  </p>
              </div>
            </div>

          </div>

        </div>

    </div>
    {% endfor %}

</div>
</body>

{% endblock %}