{% extends 'home/base.html' %}
{% block content %}
{% load static %}



<body>
<br><br><br><br><br>

<div class="row mx-5">
    <div class="col-md-9">
        <div class="text-center"><strong><h2><p>Our Student Members</p></h2></strong></div>
    </div>
    <div class="col-md-3">
        <div class="text-center">

        <form method="get" action="/search_student">

                  <div class="input-group">
                    <input type="text" id="query" name="query" class="form-control" placeholder="Search for Student..." >
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Go!</button>
                    </span>
                  </div>

        </form>
        </div>
    </div>
</div>
<br>


<div class="row mx-5 my-3">
    {% for i in students %}

    <div class="col-sm-4">

        <div class="card mb-3" style="max-width: 540px;">

          <div class="row no-gutters">

            <div class="col-md-4">
              <img src="{{ i.Profile_Photo.url }}" class="card-img pt-3" alt="" height="150" width="150">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ i.user.first_name}} {{ i.user.last_name}}</h5>
                <p class="card-text">{{ i.Bio}}</p>
                  <p>
                      <div class="text-center">
                              <a href="/view_profile/{{ i.user_id }}" class="btn btn-primary ">View Profile</a>
                      </div>
                  </p>
              </div>
            </div>

          </div>

        </div>

    </div>
    {% endfor %}

</div>

</body>

{% endblock %}