{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Bootstrap Profile Page Design - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body{
    background-color:white;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #ffffff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #51be78;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #51be78;
}
.profile-head h6{
    color: #51be78;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #51be78;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #51be78;
    margin-top: 5%;
}
.proile-rating span{
    color: #51be78;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    border-bottom:2px solid #51be78
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #51be78;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #51be78;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #51be78;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #51be78;
}
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br><br><br>
<div class="container emp-profile" >
            <form method="post">


                <div class="row">

                    <div class="col-md-4">
                        <div>
                            <img src="{{ member.Profile_Photo.url }}" alt="" height="200" width="200">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h1 style="color:green; font-family: Georgia; " class="display-4">
                                        {{ member.user.first_name }}  {{ member.user.last_name }}
                                    </h1>

                                    <br>

                                    <h4 style="color:grey; font-family: Verdana;">
                                         {{ member.Branch }} ({{ member.Role }})
                                    </h4>

                                    <br><br>


                                    <!-- Navigation Tab Here -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4 style="color:black; font-family: Arial;">About</h4></a>
                                </li>

                        <li class="nav-item">
                            <a class="nav-link" id="college-tab" data-toggle="tab" href="#college" role="tab" aria-controls="college" aria-selected="false"><h4 style="color:black; font-family: Arial;">College Details</h4></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h4 style="color:black; font-family: Arial;">Timeline</h4></a>
                                </li>
                            </ul>
                             <!-- Navigation Tab End -->
                        </div>
                    </div>

                        <div class="col-md-2">
                            <a class="btn btn-outline-primary" href="#" role="button">Message</a>
                        </div>


                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">GitHub </a><br/>
                            <a href="">LinkedIn</a><br/>
                            <p>SKILLS</p>
                            <a href="">{{ member.Technical_Skills }}</a>
                        </div>
                    </div>



               <!-- Navigation Tab 1 -->
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{member.user.username }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{ member.user.first_name}} {{member.user.last_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Mobile No</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Mobile_No}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Job</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Job }}</p>
                                            </div>
                                        </div>
                            </div>
                     <!-- Navigation Tab 1 End  -->
                     <!-- Navigation Tab 2 -->
                     <div class="tab-pane fade" id="college" role="tabpanel" aria-labelledby="college-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Gradution Starting Year</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>2018</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Gradution Ending Year</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>2022</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Branch</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Branch }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Gr No</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.PRN_No }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Final C.G.P.A</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Final_CGPA }}</p>
                                            </div>
                                        </div>
                            </div>
                     <!-- Navigation Tab 2 End -->
                     <!-- Navigation Tab 3 -->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience/Internship</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Branch }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Bio</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Bio }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Project }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hobbies</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ member.Hobbies }}</p>
                                            </div>
                                        </div>

                            </div>
                     <!-- Navigation Tab 3 End -->

                        </div>
                    </div>
                </div>
            </form>
        </div>
<script type="text/javascript">

</script>
</body>
{% endblock %}