asgiref==3.2.10
astroid==2.4.2
backcall==0.2.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
cryptography==3.1
decorator==4.4.2
defusedxml==0.7.0rc1
Django==3.1
django-allauth==0.42.0
django-crispy-forms==1.9.2
django-extensions==3.0.9
django-filter==2.4.0
gunicorn==20.0.4
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.2
Jinja2-template-info==0.1.2
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-client==0.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.21
mysqlclient @ file:///C:/Users/Akash/Downloads/mysqlclient-1.4.6-cp38-cp38-win32.whl
oauthlib==3.1.0
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
protobuf==3.13.0
pycparser==2.20
Pygments==2.7.1
PyJWT==1.7.1
pylint==2.5.3
pymongo==3.11.2
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
pywin32==228
pyzmq==19.0.2
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
urllib3==1.25.10
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1
