{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

  <br><br><br><br>

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 " style="background-image: url({% static 'new/images/bg_1.jpg' %})">
    <div class="container ">
        <div class="row align-items-end">
            <div class="col-lg-7">
              <div class="text-center">
                   <p><h2 class="mb-0">Blogs</h2></p>
                  <p>“Don’t focus on having a great blog. Focus on producing a blog that’s great for your readers.”</p>
              </div>
            </div>
        </div>
    </div>
</div>

  <br><br>

  <div class="container">



  </div>



  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

         <p> <h2>Search Result :- </h2> </p> <br>


              {% if blogs|length < 1 %}

              <p> No Search Results  </p>

              Your search - <b> '{{query}}' </b> did not match any documents. <br>
              <br>
              <h4>Suggestions :- </h4>

              <ul>
                <li> Make sure that all words are spelled correctly. </li>
                <li> Try different keywords. </li>
                <li> Try more general keywords. </li>
                <li> Try fewer keywords. </li>
              </ul>

              {% endif %}

        <!-- Blog Post -->
        {% for i in blogs %}

        <div class="card mb-4">
          <img class="card-img-top" src="{{ i.pic.url }}" height="350"  >
          <div class="card-body">
            <h2 class="card-title">{{ i.title }}</h2>
            <p class="card-text">{{ i.content |truncatechars:300 }}</p>

            <div class="row ">

              <div class="col-md-2 form-group">
                <a href="{% url 'blog_detail' i.Sr_No %}" class="btn btn-primary">Read More </a>
              </div>

              <div class="col-md-2 form-group">

                  <form action="{% url 'blog_like' %}" method="POST" class="ui form">
                    {% csrf_token %}
                      <input type="hidden" name="blog_id" value="{{ i.Sr_No }}">
                      {% if user not in i.liked.all %}
                        <p><button class="btn btn-info" type="submit">Like ( {{ i.liked.all.count }} )</button></p>
                      {% else %}
                        <p><button class="btn btn-danger" type="submit">Unlike </button></p>
                      {% endif %}

                  </form>
              </div>

              </div>

          </div>
          <div class="card-footer text-muted">
            <h5>Posted on {{ i.time }} By :-
              <a href="#">{{ i.user.first_name }} {{ i.user.last_name }}</a></h5>
          </div>
        </div>

        {% endfor %}


      </div>





      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <div class="card my-4">
          <h5 class="card-header">Blogs</h5>
          <div class="card-body">
            <div class="input-group ">

              <div class="text-center ml-3">

                <a  href="{% url 'add_blog' %}" role="button"><h5><b>Add a Blog</b></h5></a>

              </div>

              <div class="text-center ml-5">

                <a  href="{% url 'your_blogs' user.member.user_id %}" role="button"><h5><b>Your Blogs</b></h5></a>

              </div>


            </div>
          </div>
        </div>


        <!-- Search Widget -->

        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">

              <form method="get" action="/blog/search">

                  <div class="input-group">
                    <input type="text" id="query" name="query" class="form-control" placeholder="Search for..." >
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Go!</button>
                    </span>
                  </div>

              </form>

          </div>
        </div>




      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'blog/css/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/css/vendor/css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

<br>
{% endblock %}
