{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<br><br><br><br>

<div class="container mx-5">

    <p><h2>Password Reset Sent</h2></p>
    <br>

    <p>
        We've emailed your instructions for setting your password, if an account exist with email you entered. You should receive them shortly.
    </p>

    <p>
        If you don't receive an email , please make sure you've entered the email address you have registered with, and check your spam folder.
    </p>



</div>
<br>





{% endblock %}