{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<br><br><br><br>

<div class="container mx-5">

    <p><h2>Password Reset</h2></p>
    <br>

    <p>
        Forgotten your password ? Enter your email address below, and we'll email instructions for setting a new password.
    </p>



    <form method="post">

        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary" name="Send email">Send Email</button>

    </form>

</div>
<br>





{% endblock %}