{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 " style="background-image: url({% static 'new/images/bg_1.jpg' %})">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
              <h1 style="color:white; font-family: Georgia; ">Doubts </h1>
              <p><h5 style="color:white; font-family: courier; ">Don’t focus on having a great blog. Focus on producing a blog that’s great for your readers.</h5></p>
            </div>
        </div>
    </div>
</div>

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mx-5" role="alert">
  <strong>Message : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

    <div class="site-section">

        <div class="container">

          <form action="{% url 'add_doubt' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="title">Question</label>
                    <input type="text" id="title" name="question" class="form-control form-control-lg">
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="content">Question Description ( If Any )</label>
                    <textarea class="form-control" id="content" name="description" cols="20" rows="5" class="form-control"></textarea class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="title">Image ( If Any )</label>
                    <input type="file"  id="image" name="image" class="form-control form-control-lg">
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-2">
                    <input type="submit" value="Add Doubt" class="btn btn-primary btn-lg px-5">
                </div>
            </div>

          </form>
        </div>

    </div>


{% endblock %}