{% extends 'home/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<br><br><br><br>

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 " style="background-image: url({% static 'new/images/bg_1.jpg' %})">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
              <h1 style="color:white; font-family: Georgia; ">Doubts</h1>
              <p><h5 style="color:white; font-family: courier; ">Don’t focus on having a great blog. Focus on producing a blog that’s great for your readers.</h5></p>
            </div>
        </div>
    </div>
</div>


{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


{% for doubt in doubts %}

<div class="container my-5">

    <div class="card ">

      <h5 class="card-header" style="color:black; font-family: Verdana; "> Question By :- {{ doubt.user.first_name }} {{ doubt.user.last_name }} ( {{ doubt.user.member.Branch }} ) </h5>
      <div class="card-body">
        <h5 class="card-title" style="color:black; font-family: Verdana; "> {{ doubt.Question }} </h5>
        <p class="card-text"> {{ doubt.Description }} </p>

          <div class="image  mb-3 mx-5">
              {% if doubt.Image.url is not None %}
              <img src="{{ doubt.Image.url }} " class="w-100" height="400">
              {% else %}
              {% endif %}
          </div>

          <div class="doubt mb-0">

              <p>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#doubt_answer{{ doubt.Sr_No }}" aria-expanded="false" aria-controls="collapseExample">
                    View Answer
                  </button>

                  {% if request.user == doubt.user %}
                    <a href="{% url 'doubt_delete' doubt.Sr_No %}" class="btn btn-danger">Delete This Doubt</a>
                  {% endif %}

              </p>

              <div class="collapse" id="doubt_answer{{ doubt.Sr_No }}">
                  <div class="card card-body">

                      <div class="container p-2">

                          <form action="{% url 'doubt_answer' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="answers" placeholder="Add Your Answer Here">
                                        <input type="hidden" class="form-control" name="doubt_no" value="{{ doubt.Sr_No }}">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary">Answer</button>
                                    </div>
                                </div>
                          </form>

                          {% if not doubt.answer.all %}
                          <div class="container mt-2"> <b>No Answers Yet ... </b></div>

                          {% else %}
                          {% for i in doubt.answer.all %}
                          <div class="row mt-2">

                              <div class="col-md-1">
                                  <small><img src="{{ i.user.member.Profile_Photo.url }}" class="rounded-circle w-75" alt="User"></small>
                              </div>

                              <div class="col-md-11">
                                  <small><b>{{ i.user.first_name }} {{ i.user.last_name }}</b> <span class="badge badge-secondary">{{ i.timestamp | naturaltime }}</span></small>
                                  <small><div><h6> {{ i.answers }}</h6></div></small>
                              </div>

                          </div>
                          {% endfor %}
                          {% endif %}

                      </div>

                  </div>
              </div>

          </div>
      </div>

    </div>
</div>

{% endfor %}


 <!-- Paginator -->

  <div class="container">
    <nav aria-label="Page navigation example">

    {% if doubts.has_other_pages %}

      <ul class="pagination">
        {% if doubts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ doubts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item "><a class="page-link"><span >&laquo;</span></a></li>
        {% endif %}

        {% for i in doubts.paginator.page_range %}
          {% if doubts.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if doubts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ doubts.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a class="page-link"><span>&raquo;</span></a></li>
        {% endif %}

      </ul>
    {% endif %}
    </nav>
  </div>



{% endblock %}