{% extends 'home/base.html' %}
{% block content %}
{% load static %}



<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 " style="background-image: url({% static 'connect/reunion.jpg' %})">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">Reunion</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
    </div>
</div>










{% endblock %}