{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<br><br><br><br>

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


<div class="container-fluid">

    <div class="text-center">
            <p><h1 class="display-2" style="color:black; font-family: Georgia ;"><b>REUNION</b></h1></p>
    </div>

    <img src="{% static 'connect/reunion.jpg' %}" class="rounded mx-auto d-block" alt="..." height="400" width="1000">

</div>

<br><br>
{% for i in plan %}

<div class="container my-1 py-3 ">

    <div class="card text-center">

        <div class="card-header">
            <div class="row">
                <div class="col-md-11">
                    <h4 style="color:black; font-family: Arial; "> Organizer :- {{ i.user.first_name}} {{ i.user.last_name }} for Batch {{ i.Batch }}</h4>
                </div>
                <div class="col-md-1">
                    {% if request.user == i.user %}
                    <a href="{% url 'reunion_delete' i.Sr_No %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card-body">

            <h4 style="color:black;" class="card-title">{{ i.Title }}</h4>
            <p class="card-text">{{ i.Memo |truncatechars:300 }}</p>


            <form action="{% url 'participants' %}" method="POST" class="ui form">
              {% csrf_token %}

                <input type="hidden" name="reunion_id" value="{{ i.Sr_No }}">
                {% if user not in i.Participants.all %}
                  <p><button class="btn btn-primary" type="submit">I'm In </button></p>
                {% else %}
                  <p><button class="btn btn-danger" type="submit">I want to cancel</button></p>
                {% endif %}

            </form>


            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{i.Sr_No}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                See All Participants ({{ i.Participants.all.count }})
              </a>
            </p>


            <div class="collapse" id="collapseExample{{i.Sr_No}}">
              <div class="card card-body">
                  {% for j in i.Participants.all %}
                  <div class="text-center">
                      <strong><b>{{ j.first_name }} {{ j.last_name }}</b> ( {{ j.member.Branch }} )</strong>
                  </div>
                  {% endfor %}
              </div>
            </div>


        </div>

        <div class="card-footer text-muted">
            <h5> <b>Date :</b>{{ i.Date }}       <b>Time :</b>{{ i.Time }}       <b>Place :</b> {{ i.Place }} </h5>
        </div>

    </div>
</div>

{% endfor %}

 <!-- Paginator -->

  <div class="container">
    <nav aria-label="Page navigation example">

    {% if plan.has_other_pages %}

      <ul class="pagination">
        {% if plan.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ plan.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item "><a class="page-link"><span >&laquo;</span></a></li>
        {% endif %}

        {% for i in plan.paginator.page_range %}
          {% if plan.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if plan.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ plan.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a class="page-link"><span>&raquo;</span></a></li>
        {% endif %}

      </ul>
    {% endif %}
    </nav>
  </div>


{% endblock %}