{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<br><br><br><br>

<div class="container-fluid">

    <div class="text-center">
            <p><h1><b><i>REUNION OP</i></b></h1></p>
    </div>

    <img src="{% static 'connect/reunion.jpg' %}" class="rounded mx-auto d-block" alt="..." height="400" width="1000">

</div>

<br><br>
{% for i in plan %}
<div class="container my-1 py-3 ">

    <div class="card text-center">

        <div class="card-header">
           <h5> <b>Organizer : {{ i.user.first_name}} {{ i.user.last_name }} for batch {{ i.Batch }}</b></h5>
        </div>

        <div class="card-body">
            <h5 class="card-title">{{ i.Title }}</h5>
            <p class="card-text">{{ i.Memo |truncatechars:300 }}</p>

            <form action="{% url 'participants' %}" method="POST" class="ui form">
              {% csrf_token %}

                <input type="hidden" name="reunion_id" value="{{ i.Sr_No }}">
                {% if user not in i.Participants.all %}
                  <p><button class="btn btn-primary" type="submit">I'm In </button></p>
                {% else %}
                  <p><button class="btn btn-danger" type="submit">I want to cancel</button></p>
                {% endif %}

            </form>



            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                See All Participants ({{ i.Participants.all.count }})
              </a>

            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                  {% for j in i.Participants.all %}
                  <div class="text-center">
                      <strong><b>{{ j.first_name }} {{ j.last_name }}</b></strong>
                  </div>
                  {% endfor %}
              </div>
            </div>




        </div>

        <div class="card-footer text-muted">
          {{ i.Date }} {{ i.Time }}
        </div>

    </div>
</div>
{% endfor %}






{% endblock %}