{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<br><br><br><br>

<div class="container-fluid ">

    <div class="text-center">
            <p><h1><b><i>WEBINAR OP</i></b></h1></p>
    </div>

    <img src="{% static 'connect/webinar.jpg' %}" class="rounded mx-auto d-block" alt="..." height="400" width="1000">

</div>


<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Speaker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Details</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



{% endblock %}